.sidebarHeader {
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebarTitle {
    font-size: 1.5rem;

    @media (min-width: 768px) {
        font-size: 2.25rem;
    }

    @media (min-width: 768px) {
        font-size: 2.25rem;
    }

    font-weight: 700;
    text-align: center;
}

.sidebarContent {
    color: #6b7280;
    font-weight: 300;
    font-size: 0.875rem;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}