.container {
    width: 80%;
    margin: 10vh auto;
}

.form {
    display: flex;
    width: 100%;
    gap: 20px;
}

.musicContainer {
    margin-top: 1rem;
}

.loading {
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music {
    margin-top: 2rem;
}