.empty {
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyImage img {
    position: relative;
    height: 18rem;
    width: 18rem;
}

.emptyText {
    color: #6b7280;
    font-size: 0.875rem;
    text-align: center;
}