.footer {
    background-color: teal;
    color: #fff;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.author {
    text-align: center;
}