*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
}

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// main {
//   flex: 1;
//   display: flex;
//   position: relative;
// }

a {
  text-decoration: none;
  color: #fff;
}

.code-color{
  color: rgb(58, 9, 32);
}
.music-color{
  color: rgb(255, 0, 191);
}
.image-color{
  color: rgb(5, 7, 148);
}
.video-color{
  color: rgb(197, 9, 9);
}