*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
}

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// main {
//   flex: 1;
//   display: flex;
//   position: relative;
// }

a {
  text-decoration: none;
  color: #fff;
}